body{
    background-color: rgb(2, 2, 19);
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    opacity: 100%;
    position: relative;
    right: 0vw;
    animation-name: loadin;
    animation-duration: 2s;
}

@keyframes loadin{
    0%{
        opacity: 0%;
        right: 5vw;
    }
    100%{
        opacity: 100%;
        right: 0vw;
    }
}

#sideRight{
    position: relative;
    bottom: 98vh;
    left: 29vw;
    width: 70vw;
    height: 98vh;
    border-left-width: 0.1vw;
    border-left-style: solid;
    border-left-color: white;
}

#sideLeft{
    width: 30vw;
    height: 98vh;
}

.option{
    width: 23vw;
    height: 6vh;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 3.5vh;
    outline: none;
    border: none;
    border-bottom-width: 0.1vh;
    border-bottom-style: solid;
    border-bottom-color: white;
    margin-top: 2vh;
    position: relative;
    top: 0vh;
}
.option:active{
    opacity: 80%;
}

.option:hover{
    animation-name: onhover;
    animation-duration: 0.5s;
    background-color: rgb(54, 54, 54);
}

@keyframes onhover{
    0%{background-color: rgb(17, 17, 17)}
    100%{background-color: rgb(54, 54, 54);}
}

.linkToApp{
    height: 20vh;
    width: 20vh;
    margin-left: 5vw;
    position: relative;
    top: 2vh;
    right: 9vw;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 2.5vh;
    outline: none;
    border: none;
}

.linkToApp:hover{
    animation-name: linkHover;
    animation-duration: 0.5s;
    opacity: 50%;
}

@keyframes linkHover{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 50%;
    }
}

#HBO{
    background-image: url(../Assets/hboGoLogo.png);
    background-size: contain;
}

#Netflix{
    background-image: url(../Assets/NetflixLogo.png);
    background-size: contain;
}

#YouTube{
    background-image: url(../Assets/YouTubeLogo.png);
    background-size: contain;
    background-color: white;
}

#HorizonGo{
    background-image: url(../Assets/HorizonGoLogo.png);
    background-size: contain;
    background-color: white;
}

#keyboard{
    background-color: rgb(17, 17, 17);
    position: relative;
    top: 10vh;
    left: 2.8vw;
    width: 23vw;
    height: 0vh;
    border-bottom-width: 0.1vh;
    border-bottom-style: solid;
    border-bottom-color: white;
    animation-name: boardAnim;
    animation-duration: 2s;
    animation-delay: 2s;
}

#keys{
    opacity: 0%;
    animation-name: keysAnim;
    animation-duration: 2s;
    animation-delay: 4s;
}

.keyboardBtn{
    height: 2.6vw;
    width: 2.6vw;
    position: relative;
    top: 2vh;
    left: 0.3vw;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 2.5vh;
    outline: none;
    border: none;
    border-bottom-width: 0.1vh;
    border-bottom-style: solid;
    border-bottom-color: white;
    margin-top: 10px;
}

.keyboardBtn:active{
    color: black;
    border-bottom-color: black;
}

.keyboardBtn:hover{
    background-color: rgb(20, 20, 20);
}

@keyframes boardAnim{
    0%{
        height: 0vh;
    }
    100%{
        height: 40vh;
    }
}

@keyframes keysAnim{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}